<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
  <div class="col">

    <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">

      <!-- CAMPO DE PRODUCTO -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre del producto" required
            minlength="3">
          <!-- el nombre del controls es el nombre del formcontrolname -->
          <span *ngIf="campoNoEsValido('nombre')" class="form-text text-danger">Debe ser de
            tres
            letras</span>

        </div>
      </div>

      <!-- CAMPO DE PRECIO -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">

          <input formControlName="precio" type="number" class="form-control" placeholder="Precio del producto" required>


          <span *ngIf="campoNoEsValido('precio')" class="form-text text-danger">EL precio
            debe ser de
            0 o mayor</span>
        </div>
      </div>

      <!-- CAMPO DE EXISTENCIAS -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input formControlName="existencias" type="number" class="form-control" placeholder="Existencias del producto"
            required>

          <span *ngIf="campoNoEsValido('existencias')" class="form-text text-danger">EL precio
            debe ser de
            0 o mayor</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
      </div>
    </form>

  </div>
</div>


<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{miFormulario.valid }}</pre>

    <span>pristine</span>
    <pre>{{miFormulario.pristine }}</pre>

    <span>touched</span>
    <pre>{{miFormulario.touched }}</pre>

    <span>value</span>
    <pre>{{miFormulario.value | json }}</pre>
  </div>
</div>