<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">

    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">

      <!-- nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nombre del usuario" formControlName="nombre">

          <span *ngIf="campoNoValido('nombre')" class="form-text text-danger">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>


      <!-- email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" placeholder="Email del usuario" formControlName="email">

          <span *ngIf="campoNoValido('email')" class="form-text text-danger">
            {{emailErrorMsjs}}
          </span>
        </div>
      </div>

      <!-- username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Usuario</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Contraseña del usuario" formControlName="username">

          <span *ngIf="campoNoValido('username')" class="form-text text-danger">
            EL usuario no puede ser strider
          </span>
        </div>
      </div>


      <!-- password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Contraseña</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="Email del usuario" formControlName="password">

          <span *ngIf="campoNoValido('password')" class="form-text text-danger">
            La contraseña debe ser mayor de 6 caracteres
          </span>
        </div>
      </div>


      <!-- password2-confirmar -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="Confirmar contraseña" formControlName="confirmar">

          <span *ngIf="campoNoValido('confirmar')" class="form-text text-danger">
            Las contraseñas deben ser iguales
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit" [disabled]="miFormulario.invalid">Crear</button>
        </div>
      </div>

    </form>
  </div>
</div>


<h2>Form valid: {{miFormulario.valid}}</h2>
<h2>Form status: {{miFormulario.status}}</h2>
<h2>Form errors:</h2>
<pre>{{miFormulario.errors | json}}</pre>
<br>
<h2>Nombre: {{miFormulario.controls['nombre'].errors | json}}</h2>
<br>
<h2>Email: {{miFormulario.controls['email'].errors | json}}</h2>
<br>
<h2>Username: {{miFormulario.controls['username'].errors | json}}</h2>